
<div *ngIf="ec2DataVar">
    <!-- <p>ec2data-list works!</p> -->    
    <div *ngFor="let ec2DataVarItem of ec2DataVar">
        <h4>Metadata of Instance {{ec2DataVarItem.ec2DataId}}</h4>
        <table class="table">
            <tr>
                <th>#</th>
                <th>EC2Data_Id</th>
                <th>Public Hostname</th>
                <th>Public IPv4</th>
                <th>Local Hostname</th>
                <th>Local IPv4</th>
            </tr>
            <tr *ngFor="let metadataItem of ec2DataVarItem.ec2Details.metadata; let i = index">
                <td>{{i + 1}}</td>
                <td>{{metadataItem.instanceId}}</td>
                <td>{{metadataItem.publicHostname}}</td>
                <td>{{metadataItem.publicIPv4}}</td>
                <td>{{metadataItem.localHostname}}</td>
                <td>{{metadataItem.localIPv4}}</td>
            </tr>
        </table>
    </div>
    <!-- <div *ngFor="let ec2DataVarItem of ec2DataVar"> 
        <h3>EC2Data_Id: {{ec2DataVarItem.ec2DataId}}</h3>
    
        <div *ngFor="let metadataItem of ec2DataVarItem.ec2Details.metadata">
            <h4>Metadata of Instance {{metadataItem.instanceId}}</h4>
            <h5>Public Hostname: {{metadataItem.publicHostname}}</h5>
            <h5>Public IPv4: {{metadataItem.publicIPv4}}</h5>
            <h5>Local Hostname: {{metadataItem.localHostname}}</h5>
            <h5>Local IPv4:{{metadataItem.localIPv4}}</h5>        
        </div>
        
        <div *ngFor="let tag of ec2DataVarItem.ec2Details.tags">
                <h3>Tag</h3>
                <h5>Resource Type: {{tag.resourceType}}</h5>
                <h5>Resource Id: {{tag.resourceId}}</h5>
                <h5>Value: {{tag.value}}</h5>
                <h5>Key: {{tag.key}}</h5>        
        </div>
        <div *ngFor="let volume of ec2DataVarItem.ec2Details.volumes">
                <h3>Volumes</h3>
                <h5>availabilityZone: {{volume.availabilityZone}}</h5>
                <div *ngFor="let attachment of volume.attachments">
                    <h3>Attachment Details:</h3>
                    <h5>attachTime: {{attachment.attachTime}}</h5>
                    <h5>instanceId: {{attachment.instanceId}}</h5>
                    <h5>volumeId: {{attachment.volumeId}}</h5>
                    <h5>state: {{attachment.state}}</h5>
                    <h5>deleteOnTermination: {{attachment.deleteOnTermination}}</h5>
                    <h5>device: {{attachment.device}}</h5>
                </div>
                <h5>encrypted: {{volume.encrypted}}</h5>
                <h5>volumeType: {{volume.volumeType}}</h5>
                <h5>volumeId: {{volume.volumeId}}</h5>
                <h5>state: {{volume.state}}</h5>
                <h5>iops: {{volume.iops}}</h5>
                <h5>snapshotId: {{volume.snapshotId}}</h5>
                <h5>createTime: {{volume.createTime}}</h5>
                <h5>size: {{volume.size}}</h5>        
        </div>
    </div> -->
</div>

<!-- combo box -->
<h3>Select instance id for more details:</h3>
<form class="ec2datalist-form">
    <mat-form-field class="ec2datalist-full-width">
        <!-- <input type="text" placeholder="Select instance" aria-label="Number" matInput [formControl]="ec2dataFormControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let ec2InstanceId of ec2InstanceIds" [value]="ec2InstanceId">
            {{ec2InstanceId}}
        </mat-option>
        </mat-autocomplete> -->
        <mat-label>Select instance id</mat-label>
        <mat-select (selectionChange)="showEC2InstanceDetails($event)">
            <mat-option *ngFor="let ec2InstanceId of ec2InstanceIds" [value]="ec2InstanceId">
            {{ec2InstanceId}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>  


